html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th,td{
    border: solid 2px black;
    border-collapse: collapse;
    
}
table{
    border-collapse: collapse;
}
.container{
    position: relative;
    left: 450px;
    top: 100px;
    
}
#search{
    margin-left: 500px;
    margin-top: 50px;
}